In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import Dataset
df = pd.read_csv('NYPD_Complaint_Data_Current__Year_To_Date_.csv')
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,244685801,69,BROOKLYN,01/01/2015,00:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,<18,BLACK,F,1010541,175595,40.648614,-73.905257,"(40.6486135510607, -73.9052572032302)",POINT (-73.9052572032302 40.6486135510607)
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
2,242385774,123,STATEN ISLAND,03/20/2022,11:52:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,926029,138052,40.545405,-74.209485,"(40.545405, -74.209485)",POINT (-74.209485 40.545405)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256797 entries, 0 to 256796
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                256797 non-null  object
 1   ADDR_PCT_CD               256797 non-null  int64
 2   BORO_NM                   256797 non-null  object
 3   CMPLNT_FR_DT              256797 non-null  object
 4   CMPLNT_FR_TM              256797 non-null  object
 5   CMPLNT_TO_DT              237423 non-null  object
 6   CMPLNT_TO_TM              256797 non-null  object
 7   CRM_ATPT_CPTD_CD          256797 non-null  object
 8   HADEVELOPT                256797 non-null  object
 9   HOUSING_PSA               16985 non-null   float64
 10  JURISDICTION_CODE         256797 non-null  int64
 11  JURIS_DESC                256797 non-null  object
 12  KY_CD                     256797 non-null  int64
 13  LAW_CAT_CD                256797 non-null  object
 14  LOC_OF_OCCUR_DESC         256797 non-null  object
 15  OFNS_DESC                 256797 non-null  object
 16  PARKS_NM                  256797 non-null  object
 17  PATROL_BORO               256797 non-null  object
 18  PD_CD                     256528 non-null  float64
 19  PD_DESC                   256797 non-null  object
 20  PREM_TYP_DESC             256797 non-null  object
 21  RPT_DT                    256797 non-null  object
 22  STATION_NAME              256797 non-null  object
 23  SUSP_AGE_GROUP            256797 non-null  object
 24  SUSP_RACE                 256797 non-null  object
 25  SUSP_SEX                  256797 non-null  object
 26  TRANSIT_DISTRICT          5708 non-null    float64
 27  VIC_AGE_GROUP             256797 non-null  object
 28  VIC_RACE                  256797 non-null  object
 29  VIC_SEX                   256797 non-null  object
 30  X_COORD_CD                256797 non-null  int64
 31  Y_COORD_CD                256797 non-null  int64
 32  Latitude                  256797 non-null  float64
 33  Longitude                 256797 non-null  float64
 34  Lat_Lon                   256797 non-null  object
 35  New Georeferenced Column  256797 non-null  object
dtypes: float64(5), int64(5), object(26)
memory usage: 70.5+ MB

In [4]:
df.shape

(256797, 36)

In [5]:
df.replace('(null)',np.nan,inplace= True)

In [6]:
df.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                        441
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 19374
CMPLNT_TO_TM                 19319
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                  255982
HOUSING_PSA                 239812
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC            41066
OFNS_DESC                        6
PARKS_NM                    255376
PATROL_BORO                      4
PD_CD                          269
PD_DESC                        269
PREM_TYP_DESC                  107
RPT_DT                           0
STATION_NAME                251089
SUSP_AGE_GROUP               50792
SUSP_RACE                    50792
SUSP_SEX                     50792
TRANSIT_DISTRICT            251089
VIC_AGE_GROUP                    0
VIC_RACE                        72
VIC_SEX                          0
X_COORD_CD                       0
Y_COORD_CD                       0
Latitude                         0
Longitude                        0
Lat_Lon                          0
New Georeferenced Column         0
dtype: int64

In [7]:
df.fillna(np.nan,inplace = True)

In [8]:
df.drop(columns=['HOUSING_PSA','TRANSIT_DISTRICT','HADEVELOPT','PARKS_NM', 'STATION_NAME','Lat_Lon', 'New Georeferenced Column'],inplace= True)

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.dropna(inplace= True)

In [11]:
df.isna().sum()

CMPLNT_NUM           0
ADDR_PCT_CD          0
BORO_NM              0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
CMPLNT_TO_DT         0
CMPLNT_TO_TM         0
CRM_ATPT_CPTD_CD     0
JURISDICTION_CODE    0
JURIS_DESC           0
KY_CD                0
LAW_CAT_CD           0
LOC_OF_OCCUR_DESC    0
OFNS_DESC            0
PATROL_BORO          0
PD_CD                0
PD_DESC              0
PREM_TYP_DESC        0
RPT_DT               0
SUSP_AGE_GROUP       0
SUSP_RACE            0
SUSP_SEX             0
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
dtype: int64

In [12]:
df.shape

(163513, 29)

In [13]:
df['SUSP_AGE_GROUP'].value_counts()

UNKNOWN    78349
25-44      49963
45-64      17705
18-24      11831
<18         3647
65+         2000
2022          11
-74            1
-969           1
-1             1
-5962          1
-961           1
-10            1
-941           1
Name: SUSP_AGE_GROUP, dtype: int64

In [14]:
df['SUSP_AGE_GROUP'].replace('UNKNOWN','25-44',inplace=True)
df['SUSP_AGE_GROUP'].value_counts()

25-44    128312
45-64     17705
18-24     11831
<18        3647
65+        2000
2022         11
-74           1
-969          1
-1            1
-5962         1
-961          1
-10           1
-941          1
Name: SUSP_AGE_GROUP, dtype: int64

In [15]:
df['SUSP_RACE'].value_counts()

BLACK                             58347
UNKNOWN                           49875
WHITE HISPANIC                    25617
WHITE                             15867
BLACK HISPANIC                     7628
ASIAN / PACIFIC ISLANDER           5832
AMERICAN INDIAN/ALASKAN NATIVE      347
Name: SUSP_RACE, dtype: int64

In [16]:
df['SUSP_RACE'].replace('UNKNOWN','BLACK',inplace=True)
df['SUSP_RACE'].value_counts()

BLACK                             108222
WHITE HISPANIC                     25617
WHITE                              15867
BLACK HISPANIC                      7628
ASIAN / PACIFIC ISLANDER            5832
AMERICAN INDIAN/ALASKAN NATIVE       347
Name: SUSP_RACE, dtype: int64

In [17]:
df['VIC_AGE_GROUP'].value_counts()

25-44      58419
UNKNOWN    45928
45-64      30569
18-24      14372
65+         7783
<18         6432
-65            2
-5             1
-934           1
-40            1
-4             1
-964           1
-955           1
-959           1
-963           1
Name: VIC_AGE_GROUP, dtype: int64

In [18]:
df['VIC_AGE_GROUP'].replace('UNKNOWN','25-44',inplace=True)
df['VIC_AGE_GROUP'].value_counts()

25-44    104347
45-64     30569
18-24     14372
65+        7783
<18        6432
-65           2
-5            1
-934          1
-40           1
-4            1
-964          1
-955          1
-959          1
-963          1
Name: VIC_AGE_GROUP, dtype: int64

In [19]:
df['VIC_RACE'].value_counts()

UNKNOWN                           48615
BLACK                             42768
WHITE HISPANIC                    28921
WHITE                             23350
ASIAN / PACIFIC ISLANDER          12670
BLACK HISPANIC                     6637
AMERICAN INDIAN/ALASKAN NATIVE      552
Name: VIC_RACE, dtype: int64

In [20]:
df['VIC_RACE'].replace('UNKNOWN','BLACK',inplace=True)
df['VIC_RACE'].value_counts()

BLACK                             91383
WHITE HISPANIC                    28921
WHITE                             23350
ASIAN / PACIFIC ISLANDER          12670
BLACK HISPANIC                     6637
AMERICAN INDIAN/ALASKAN NATIVE      552
Name: VIC_RACE, dtype: int64

In [21]:
df['SUSP_SEX'].value_counts()

M    94923
U    41322
F    27268
Name: SUSP_SEX, dtype: int64

In [22]:
df['SUSP_SEX'].replace('U','M',inplace=True)
df['SUSP_SEX'].value_counts()

M    136245
F     27268
Name: SUSP_SEX, dtype: int64

In [23]:
df['VIC_SEX'].value_counts()

F    68115
M    52448
D    36782
E     6168
Name: VIC_SEX, dtype: int64

In [24]:
df['VIC_SEX'].replace('E','D',inplace=True)
df['VIC_SEX'].value_counts()

F    68115
M    52448
D    42950
Name: VIC_SEX, dtype: int64

In [25]:
df.shape

(163513, 29)

In [26]:
df['CMPLNT_FR_DT'] = pd.to_datetime(df['CMPLNT_FR_DT'],errors='coerce',format = "%m/%d/%Y" )
day_of_week = df['CMPLNT_FR_DT'].dt.day_name()
day_of_week.reset_index(inplace=True,drop = True)

In [27]:
df['CMPLNT_FR_DT'].value_counts()

2022-05-31    1099
2022-06-10    1038
2022-06-01    1023
2022-04-01    1011
2022-06-13    1011
              ...
2018-12-09       1
1981-08-14       1
2017-06-24       1
2020-01-06       1
2016-07-06       1
Name: CMPLNT_FR_DT, Length: 1163, dtype: int64

In [28]:
df.isna().sum()

CMPLNT_NUM           0
ADDR_PCT_CD          0
BORO_NM              0
CMPLNT_FR_DT         3
CMPLNT_FR_TM         0
CMPLNT_TO_DT         0
CMPLNT_TO_TM         0
CRM_ATPT_CPTD_CD     0
JURISDICTION_CODE    0
JURIS_DESC           0
KY_CD                0
LAW_CAT_CD           0
LOC_OF_OCCUR_DESC    0
OFNS_DESC            0
PATROL_BORO          0
PD_CD                0
PD_DESC              0
PREM_TYP_DESC        0
RPT_DT               0
SUSP_AGE_GROUP       0
SUSP_RACE            0
SUSP_SEX             0
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
dtype: int64

In [29]:
df.dropna(inplace=True)

In [30]:
df.reset_index(inplace=True)

In [31]:
df['CMPLNT_FR_DT'] = pd.to_datetime(df['CMPLNT_FR_DT'],errors='coerce',format = "%m/%d/%Y" )
df['CMPLNT_TO_DT'] = pd.to_datetime(df['CMPLNT_TO_DT'],errors='coerce',format = "%m/%d/%Y" )
FR_DY = df['CMPLNT_FR_DT'].dt.day_name()
TO_DY = df['CMPLNT_TO_DT'].dt.day_name()
FR_DY.reset_index(inplace=True,drop = True)
TO_DY.reset_index(inplace=True,drop = True)

In [32]:
FR_DY

0         Thursday
1         Thursday
2          Tuesday
3           Friday
4           Friday
            ...
163505    Thursday
163506    Thursday
163507    Thursday
163508    Thursday
163509    Thursday
Name: CMPLNT_FR_DT, Length: 163510, dtype: object

In [33]:
TO_DY

0          Thursday
1          Thursday
2           Tuesday
3            Friday
4         Wednesday
            ...
163505     Thursday
163506     Thursday
163507     Thursday
163508     Thursday
163509     Thursday
Name: CMPLNT_TO_DT, Length: 163510, dtype: object

In [34]:
df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,25-44,BLACK,M,25-44,BLACK,D,1010419,242374,40.831899,-73.905435
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,25-44,BLACK,M,18-24,BLACK,F,942822,166353,40.623188,-74.149238
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,25-44,BLACK,M,45-64,BLACK,M,1010131,240105,40.825670,-73.906484
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,25-44,WHITE HISPANIC,F,25-44,BLACK,M,1002844,230571,40.799522,-73.932838
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,25-44,BLACK,M,25-44,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163505,256785,247415547,67,BROOKLYN,2022-06-30,07:30:00,2022-06-30,07:45:00,COMPLETED,0,...,25-44,BLACK,M,18-24,BLACK,F,1004537,181012,40.663492,-73.926872
163506,256787,247392103,40,BRONX,2022-06-30,18:05:00,2022-06-30,18:15:00,ATTEMPTED,0,...,25-44,BLACK,M,25-44,BLACK,D,1007667,237199,40.817703,-73.915395
163507,256791,247392173,109,QUEENS,2022-06-30,18:38:00,2022-06-30,18:48:00,COMPLETED,0,...,25-44,WHITE HISPANIC,M,45-64,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305
163508,256792,247399166,33,MANHATTAN,2022-06-30,22:10:00,2022-06-30,22:25:00,COMPLETED,0,...,25-44,BLACK,M,45-64,BLACK,M,1001528,244950,40.838991,-73.937557
163509,256795,247434393,109,QUEENS,2022-06-30,14:30:00,2022-06-30,15:00:00,COMPLETED,0,...,45-64,WHITE,M,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555

In [35]:
df = pd.concat([df,FR_DY],axis=1)
df.columns = [*df.columns[:-1], 'CMPLNT_FR_DAY']

In [36]:
df = pd.concat([df,TO_DY],axis=1)
df.columns = [*df.columns[:-1], 'CMPLNT_TO_DAY']

In [37]:
df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_FR_DAY,CMPLNT_TO_DAY
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,M,25-44,BLACK,D,1010419,242374,40.831899,-73.905435,Thursday,Thursday
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,M,18-24,BLACK,F,942822,166353,40.623188,-74.149238,Thursday,Thursday
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,M,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,Tuesday,Tuesday
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,F,25-44,BLACK,M,1002844,230571,40.799522,-73.932838,Friday,Friday
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,M,25-44,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,Friday,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163505,256785,247415547,67,BROOKLYN,2022-06-30,07:30:00,2022-06-30,07:45:00,COMPLETED,0,...,M,18-24,BLACK,F,1004537,181012,40.663492,-73.926872,Thursday,Thursday
163506,256787,247392103,40,BRONX,2022-06-30,18:05:00,2022-06-30,18:15:00,ATTEMPTED,0,...,M,25-44,BLACK,D,1007667,237199,40.817703,-73.915395,Thursday,Thursday
163507,256791,247392173,109,QUEENS,2022-06-30,18:38:00,2022-06-30,18:48:00,COMPLETED,0,...,M,45-64,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305,Thursday,Thursday
163508,256792,247399166,33,MANHATTAN,2022-06-30,22:10:00,2022-06-30,22:25:00,COMPLETED,0,...,M,45-64,BLACK,M,1001528,244950,40.838991,-73.937557,Thursday,Thursday
163509,256795,247434393,109,QUEENS,2022-06-30,14:30:00,2022-06-30,15:00:00,COMPLETED,0,...,M,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,Thursday,Thursday

In [38]:
fr_hr = pd.to_datetime(df['CMPLNT_FR_TM'], format='%H:%M:%S').dt.hour 
to_hr = pd.to_datetime(df['CMPLNT_TO_TM'], format='%H:%M:%S').dt.hour

In [39]:
df = pd.concat([df,fr_hr],axis=1)
df.columns = [*df.columns[:-1], 'CMPLNT_FR_PART']

In [40]:
df = pd.concat([df,to_hr],axis=1)
df.columns = [*df.columns[:-1], 'CMPLNT_TO_PART']

In [41]:
def f(x=0):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Noon'
    elif (x > 16) and (x <= 20) :
        return 'Evening'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'

In [42]:
df['CMPLNT_FR_PART'] = df['CMPLNT_FR_PART'].apply(lambda z: f(z))

In [43]:
df['CMPLNT_TO_PART'] = df['CMPLNT_TO_PART'].apply(lambda z: f(z))

In [44]:
df['CMPLNT_FR_PART']

0                  Noon
1                  Noon
2                  Noon
3                 Night
4               Morning
              ...
163505    Early Morning
163506          Evening
163507          Evening
163508            Night
163509             Noon
Name: CMPLNT_FR_PART, Length: 163510, dtype: object

In [45]:
df['CMPLNT_TO_PART']

0                  Noon
1                 Night
2                  Noon
3                 Night
4                 Night
              ...
163505    Early Morning
163506          Evening
163507          Evening
163508            Night
163509             Noon
Name: CMPLNT_TO_PART, Length: 163510, dtype: object

In [46]:
df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_FR_DAY,CMPLNT_TO_DAY,CMPLNT_FR_PART,CMPLNT_TO_PART
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,BLACK,D,1010419,242374,40.831899,-73.905435,Thursday,Thursday,Noon,Noon
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,BLACK,F,942822,166353,40.623188,-74.149238,Thursday,Thursday,Noon,Night
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,BLACK,M,1010131,240105,40.825670,-73.906484,Tuesday,Tuesday,Noon,Noon
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,BLACK,M,1002844,230571,40.799522,-73.932838,Friday,Friday,Night,Night
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,Friday,Wednesday,Morning,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163505,256785,247415547,67,BROOKLYN,2022-06-30,07:30:00,2022-06-30,07:45:00,COMPLETED,0,...,BLACK,F,1004537,181012,40.663492,-73.926872,Thursday,Thursday,Early Morning,Early Morning
163506,256787,247392103,40,BRONX,2022-06-30,18:05:00,2022-06-30,18:15:00,ATTEMPTED,0,...,BLACK,D,1007667,237199,40.817703,-73.915395,Thursday,Thursday,Evening,Evening
163507,256791,247392173,109,QUEENS,2022-06-30,18:38:00,2022-06-30,18:48:00,COMPLETED,0,...,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305,Thursday,Thursday,Evening,Evening
163508,256792,247399166,33,MANHATTAN,2022-06-30,22:10:00,2022-06-30,22:25:00,COMPLETED,0,...,BLACK,M,1001528,244950,40.838991,-73.937557,Thursday,Thursday,Night,Night
163509,256795,247434393,109,QUEENS,2022-06-30,14:30:00,2022-06-30,15:00:00,COMPLETED,0,...,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,Thursday,Thursday,Noon,Noon

In [47]:
import geopy

In [48]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

In [49]:
geolocator = geopy.Nominatim(user_agent='1234')

In [53]:
sub_df= df.head(1000)

In [56]:
sub_df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_FR_DAY,CMPLNT_TO_DAY,CMPLNT_FR_PART,CMPLNT_TO_PART
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,BLACK,D,1010419,242374,40.831899,-73.905435,Thursday,Thursday,Noon,Noon
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,BLACK,F,942822,166353,40.623188,-74.149238,Thursday,Thursday,Noon,Night
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,BLACK,M,1010131,240105,40.825670,-73.906484,Tuesday,Tuesday,Noon,Noon
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,BLACK,M,1002844,230571,40.799522,-73.932838,Friday,Friday,Night,Night
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,Friday,Wednesday,Morning,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1721,238495907,60,BROOKLYN,2022-01-01,03:34:00,2022-01-01,03:35:00,COMPLETED,2,...,BLACK,D,990282,154635,40.591112,-73.978279,Saturday,Saturday,Late Night,Late Night
996,1724,239531843,115,QUEENS,2021-12-15,18:00:00,2021-12-15,18:30:00,COMPLETED,0,...,BLACK HISPANIC,F,1018597,218693,40.766874,-73.876002,Wednesday,Wednesday,Evening,Evening
997,1725,239216933,103,QUEENS,2021-12-06,00:01:00,2022-01-16,13:00:00,COMPLETED,0,...,ASIAN / PACIFIC ISLANDER,M,1037868,195970,40.704409,-73.806616,Monday,Sunday,Late Night,Noon
998,1726,238610667,19,MANHATTAN,2021-12-17,11:34:00,2021-12-17,11:44:00,COMPLETED,0,...,WHITE,F,996368,220432,40.771704,-73.956247,Friday,Friday,Morning,Morning
999,1727,238492983,24,MANHATTAN,2022-01-01,02:38:00,2022-01-01,02:41:00,COMPLETED,0,...,BLACK,D,991862,228431,40.793665,-73.972507,Saturday,Saturday,Late Night,Late Night

In [54]:
zipcodes = sub_df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Latitude', lon_field='Longitude')

In [61]:
zipcodes

0      10456
1      10314
2      10456
3      10035
4      10452
       ...
995    11223
996    11369
997    11435
998    10021
999    10025
Length: 1000, dtype: object

In [67]:
sub_df = pd.concat([sub_df,zipcodes],axis=1)
sub_df.columns = [*sub_df.columns[:-1], 'Zipcode']

In [68]:
sub_df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_FR_DAY,CMPLNT_TO_DAY,CMPLNT_FR_PART,CMPLNT_TO_PART,Zipcode
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,D,1010419,242374,40.831899,-73.905435,Thursday,Thursday,Noon,Noon,10456
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,F,942822,166353,40.623188,-74.149238,Thursday,Thursday,Noon,Night,10314
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,M,1010131,240105,40.825670,-73.906484,Tuesday,Tuesday,Noon,Noon,10456
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,M,1002844,230571,40.799522,-73.932838,Friday,Friday,Night,Night,10035
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,F,1007476,247738,40.846629,-73.916050,Friday,Wednesday,Morning,Night,10452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1721,238495907,60,BROOKLYN,2022-01-01,03:34:00,2022-01-01,03:35:00,COMPLETED,2,...,D,990282,154635,40.591112,-73.978279,Saturday,Saturday,Late Night,Late Night,11223
996,1724,239531843,115,QUEENS,2021-12-15,18:00:00,2021-12-15,18:30:00,COMPLETED,0,...,F,1018597,218693,40.766874,-73.876002,Wednesday,Wednesday,Evening,Evening,11369
997,1725,239216933,103,QUEENS,2021-12-06,00:01:00,2022-01-16,13:00:00,COMPLETED,0,...,M,1037868,195970,40.704409,-73.806616,Monday,Sunday,Late Night,Noon,11435
998,1726,238610667,19,MANHATTAN,2021-12-17,11:34:00,2021-12-17,11:44:00,COMPLETED,0,...,F,996368,220432,40.771704,-73.956247,Friday,Friday,Morning,Morning,10021
999,1727,238492983,24,MANHATTAN,2022-01-01,02:38:00,2022-01-01,02:41:00,COMPLETED,0,...,D,991862,228431,40.793665,-73.972507,Saturday,Saturday,Late Night,Late Night,10025

In [70]:
df

,index,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,...,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_FR_DAY,CMPLNT_TO_DAY,CMPLNT_FR_PART,CMPLNT_TO_PART
0,1,242250195,42,BRONX,2022-03-17,15:23:00,2022-03-17,15:28:00,ATTEMPTED,0,...,BLACK,D,1010419,242374,40.831899,-73.905435,Thursday,Thursday,Noon,Noon
1,3,242643555,121,STATEN ISLAND,2022-03-24,15:00:00,2022-03-24,22:00:00,COMPLETED,0,...,BLACK,F,942822,166353,40.623188,-74.149238,Thursday,Thursday,Noon,Night
2,4,242816732,42,BRONX,2022-03-29,15:24:00,2022-03-29,15:30:00,COMPLETED,0,...,BLACK,M,1010131,240105,40.825670,-73.906484,Tuesday,Tuesday,Noon,Noon
3,6,238863220,25,MANHATTAN,2021-12-31,21:45:00,2021-12-31,21:50:00,COMPLETED,2,...,BLACK,M,1002844,230571,40.799522,-73.932838,Friday,Friday,Night,Night
4,7,242870934,46,BRONX,2018-03-16,12:00:00,2022-03-30,22:57:00,COMPLETED,0,...,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,Friday,Wednesday,Morning,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163505,256785,247415547,67,BROOKLYN,2022-06-30,07:30:00,2022-06-30,07:45:00,COMPLETED,0,...,BLACK,F,1004537,181012,40.663492,-73.926872,Thursday,Thursday,Early Morning,Early Morning
163506,256787,247392103,40,BRONX,2022-06-30,18:05:00,2022-06-30,18:15:00,ATTEMPTED,0,...,BLACK,D,1007667,237199,40.817703,-73.915395,Thursday,Thursday,Evening,Evening
163507,256791,247392173,109,QUEENS,2022-06-30,18:38:00,2022-06-30,18:48:00,COMPLETED,0,...,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305,Thursday,Thursday,Evening,Evening
163508,256792,247399166,33,MANHATTAN,2022-06-30,22:10:00,2022-06-30,22:25:00,COMPLETED,0,...,BLACK,M,1001528,244950,40.838991,-73.937557,Thursday,Thursday,Night,Night
163509,256795,247434393,109,QUEENS,2022-06-30,14:30:00,2022-06-30,15:00:00,COMPLETED,0,...,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,Thursday,Thursday,Noon,Noon